@import '../../../scss/style.scss';
.button {

  outline-color: transparent;
  border-color: transparent;
  border: transparent;
  padding: 15px 65px;
  font-size:16px;
  line-height: 17px;
  margin: 0 5px;

  &.regular {
    background-color: $button-color;
    color: $button-font-color;
    &:hover {
        background-color:$button-hover-color;
    }
    &:active {
        background-color: $button-active-color;
        outline: none;
        border: none;
    }
  }

  &.inverted {
    color: $inverted-button-font-color;
    background-color: $inverted-button-color;
    &:hover {
        background-color: $inverted-button-hover-color;
    }
    &:active {
        background-color: $inverted-button-active-color;
        outline: none;
        border: none;
    }
  }
}
