@import '../../scss/style.scss';

.main-wrapper {
  .container {
    @include flx('center');
    @include page-container();
    @include clacmin('width', 100%, $navi-width);
    font-family: 'lato-light';
    margin-left: $navi-width;
    margin-top: $header-height;
    transition: all 1s;
    max-width: unset;
    &.hidden {
      margin-left: 0;
      width: 100%;
    }
  }
}

@media (max-width: 992px) {
  .main-wrapper {
    .container {
      width: 100%;
      margin-left: 0;
      &.hidden {
        width: 100%;
      }
    }
  }
}



@media (max-width: 576px) {
  .main-wrapper {
    .container {
      width: 100%;
      margin-left: 0;
      &.hidden {
        width: 100%;
      }
    }
  }
}
