@import '../../scss/style.scss';
.header {
  @include flx('center');
  height: $header-height;
  background: $higlight-color;
  color: $header-font-color;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;

  .container {
    @include page-container();
    @include flx('vt', 'row');
    height: 100%;
    .menu {
      @include flx('center');
      width: 60px;
      height: $header-height;
      cursor: pointer;
    }

    .search {
      width: 400px;
      height: 40px;
      margin: 20px auto;
    }

    .right-wrapper {
      @include flx('vt', 'row');
      float: right;

      .notification {
        @include flx('center');
      }

      .user {
        @include flx('center');
        width: 100px;
        height:$header-height;
      }
    }
  }
}
