@import "../../scss/style.scss";

$modal-padding:35px;
$btn-wrp-height:87px;
.modalWrp {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid $border-color;

    .modalTitle {
        font-family: "lato-bold";
        padding:  $modal-padding $modal-padding 0px;
    }
    .modalBody {
         @include clacmin('height', 100% , 158px);
         padding:  $modal-padding $modal-padding 0px;
    }
    .btnWrp {
        @include flx("btm", "row");
        height: $btn-wrp-height;
        background-color: $container-bg-color;
        width: 100%;
        padding: 0px $modal-padding 25px;
        .btnCon{
            float: right;
            margin-left: auto;
        }
    }

}

