@import '../../../scss/style.scss';

.react-dropdown-select-dropdown {
    width: 100% !important;
    max-height: 240px !important;   

    .react-dropdown-select-item{
        color: $higlight-color;
        height: 48px;
        font-size: 18px;
        line-height: 36px;
        &:hover{
            background:$button-hover-color;
            color: $button-font-color;
        }
        &.react-dropdown-select-item-selected{
            background-color: $button-active-color;
        }
    }

}
.react-dropdown-select-content {
    .react-dropdown-select-option {
        background: $multiselect-chip-color;
        border: 1px solid $border-color;
        color: $higlight-color;
        font-size: 14px;

        .react-dropdown-select-option-remove{
            font-size: 22px;
            margin: 1px -7px 0 12px;
        }

    }
}
