@import '../../../scss/style.scss';

.multiWrp{
    @include flx("vt", "row");
    width: 100%;
    position: relative;
    .dorpWrp{
        // @include clacmin('width', 100%, 25px);
        border: none;
    }
    .errorMsg {
        right: 0;
        color: $error-color;
        position: absolute;
    }
}

