@import "../../../scss//style.scss";

.checkWrp {
    @include flx("vt", "row");
    width: 100%;
    height: 30px;
    cursor: pointer;
    .checkBox {
        width: 16px;
        height: 16px;
    }
    .label{
        @include flx("vt", "row");
    }

    background-color :$chcekbox-color;
}
