@import "../../../scss/style.scss";
.noteWrp {
    .noteinfoWrp {
        @include flx("vt", "row");
        height: 48px;

        .rightCon {
            float: right;
            margin-left: auto;

            .date {
                width: 100px;
            }
        }
    }
    .message {
        font-size: 16px;
        font-family: "lato-light";
        padding:0px 32px 30px;
        border-bottom: 1px solid $border-color-light;
    }
}
