@import "./theme-variables.scss";

@mixin page-title {
  font-size:$page-title-font-size;
  font-family: 'lato-regular';
}

@mixin page-container {
  max-width: $page-container;
  color: $page-font-color;
  width: 100%;
}

@mixin content-block {
  border: 1px solid $border-color;
  border-radius: 5px;
}

@mixin label {
  color: $font-color;
}

@mixin sub-navi{
  font-size: 14px;
  color: $header-active ;
}

@mixin form-element-underline {
  border: 2px solid $border-dark-color;
}

@mixin clacmin($property, $main, $sub) {
  #{$property}: calc(#{$main} - #{$sub});
}
@mixin clacplus($property, $main, $sub) {
#{$property}: calc(#{$main} + #{$sub});
}

@mixin negative($property, $val){
  #{$property}: calc(-1 * #{$val});
}


@mixin border-light(){
  -webkit-box-shadow: 0px 0px 14px 0px rgba(123, 135, 148, 0.3);
  -moz-box-shadow: 0px 0px 14px 0px rgba(123, 135, 148, 0.3);
  box-shadow: 0px 0px 14px 0px rgba(123, 135, 148, 0.3);
}

@mixin flx($align: null, $direction: null) {
  display: flex;
  @if ($direction == "col") {
      flex-direction: column;
      @if ($align == "vt") {
          justify-content: center;
      }
      @if ($align == "hz") {
          align-items: center;
      }
      @if ($align == "top") {
        justify-content: flex-start;
    }
  } @else if ($direction == "row") {
      flex-direction: row;
      @if ($align == "vt") {
          align-items: center;
      }
      @if ($align == "hz") {
          justify-content: center;
      }
      @if ($align == "top") {
          align-items: flex-start;
      }
      @if ($align == "btm") {
          align-items: flex-end;
      }
      
  } @else if ($align == "center") {
      align-items: center;
      justify-content: center;
  }
}
