:root {
  --theme-higlight-color: #51a94b;
  --theme-button-color: #51a94b;
  --theme-button-hover-color: #33862d;
  --theme-button-active-color: #1d5e18;
  --theme-button-font-color: #1d5e18;

  --theme-inverted-button-color: #f5f7fa;
  --theme-inverted-button-hover-color: #e4e7eb;
  --theme-inverted-button-active-color: #cbd2d9;
  --theme-inverted-button-font-color: #51a94b;

  --theme-chcekbox-color: #7b8794;

  --theme-multiselect-chip-color: #55aad4;

  --theme-textbox-border-color: #e4e7eb;
  --theme-textbox-font-color: #616e7c;
  --theme-textbox-placeholder-color: #cbd2d9;

  --theme-panal-bg-color: #f5f7fa;
  --theme-panal-bg-light-color: #ffffff;
  --theme-panal-bg-dark-color:#eceaeb;
  --theme-panal-inverted-font-color: #ffffff;
  --theme-panal-font-color: #7b8794;
  --theme-panel-font-dark-color:#4a484b;

  --theme-border-color: #f5f7fa;
  --theme-border-dark-color: #9aa5b1;

  --theme-error-color: #ab091e;

  --theme-header-height: 60px;
  --theme-header-font-color: #ffffff;
  --theme-page-container: 1400px;


  --theme-navi-width:250px;

}
