
@import '../../../scss/style.scss';

.userInlineWrp{
    @include flx("vt", "row");
    .userinlineImg{
        width: 24px;
        height: 24px;
        overflow: hidden;
        border-radius: 50%;
        img{
            background-size: 100%;
            width: 100%;
            height: auto;
        }

    }
    .userInlineName{
        margin-left: 8px;
    }
}