@import '../../scss/style.scss';

.navigation {
  @include clacmin('height', 100%, $header-height);
  @include border-light();
  width: $navi-width;
  background-color: $panal-bg-dark-color;
  position: fixed;
  left: 0;
  top: $header-height;
  border-radius: 0 175px 0 0;
  transition: left 1s;
  transition: 'display' 0 line 1s;
  &.hidden {
    @include negative('left', $navi-width);
  }
  .container {
    margin-top: 175px;
    .navi-row {
      @include flx('vt', 'row');
      color: $panel-font-dark-color;
      height: 50px;
      margin: 10px 0 10px 20px;
      border-radius: 25px 0 0 25px;
      padding-left: 20px;
      cursor: pointer;

      &.active {
        background-color: $panel-font-dark-color;
        color: $panal-inverted-font-color;
      }

      .icon {
        margin-right: 20px;
      }

      .label {
      }
    }
  }
}

@media (max-width: 992px) {
  .navigation {
    z-index: 100;
    border-radius: 0;
    height: 100vh;
    .container {
      margin-top: $header-height;
    }
  }
}


@media (max-width: 576px) {
  .navigation {
    z-index: 100;
    border-radius: 0;
    top: 0;
    height: 100vh;
    &.hidden {
      display: none;
    }
    .container {
      margin-top: $header-height;
    }
  }
  .blink {
    width: 100vh;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    z-index: 90;
    top: 0;
  }
}
