@import "../../../scss/style.scss";

.textBoxWrp {
    @include flx("vt", "row");
    width: 100%;
    position: relative;
    &.error {
        // .textBox {
        //     border: 1px solid $error-color;
        // }
    }
    .textBox {
        border: none;
        height: 56px;
        font-size: 14px;
        color:$textbox-font-color;
        padding: 7px 12px;
        border-radius: 2px;
        box-sizing: border-box;
        width: inherit;
        background-color: transparent;
     

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $textbox-placeholder-color;
            opacity: 1; /* Firefox */
            font-family: 'lato-light';
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $textbox-placeholder-color;
            font-family: 'lato-light';
        }

        ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $textbox-placeholder-color;
            font-family: 'lato-light';
        }
    }
    .errorMsg {
        right: 0;
        color: $error-color;
        position: absolute;
    }
}
